.botao{
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5%;
    color: rgb(224, 247, 170);
    background-color: rgb(114, 86, 140);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.botao:hover{
    color: rgb(114, 86, 140);
    background-color: #72d36f;
    box-shadow: 10px 10px 10px 0px rgb(114, 86, 140);
}